/* 
    Document   : strat
    Created on : 30-Apr-2013, 16:52:35
    Author     : Aslam
    Description:
        Purpose of the stylesheet follows.
*/
body{
    
  font-family:'Open Sans', sans-serif !important;
margin: 0;
padding: 0;

    
}
.black-wrapper {
background: #3B3B3B;
color: #999;
padding: 10px;
}
.white-wrapper{
    
    background: #fff;
    padding: 10px;
}
.inner {
margin: 0 auto;
padding: 40px 0;
}
.black-wrapper h1 {
font-size: 50px;
line-height: 45px;
font-weight: 300;
margin: 0;
}
.colored {
color: #8AB833;
}
.center{text-align: center;}
a,a:hover{text-decoration: none;}
a{color: #8AB833;}
a:hover{color: #3b3b3b;}
img.mockup{
    
    opacity: 1;
    -webkit-transition:opacity .5s ease-in-out;
    -moz-transition:opacity .5s ease-in-out;
    -ms-transition:opacity .5s ease-in-out;
    -o-transition:opacity .5s ease-in-out;
    transition:opacity .5s ease-in-out;
}
img.mockup:hover{opacity: .7;}