/* 
    Document   : narrow
    Created on : 30-Apr-2013, 16:01:27
    Author     : Aslam
    Description:
        Narrow Single Page Stylesheet
*/

.support-icon{font-size: 50px; }
#support h2{font-size: 31.5px; line-height: 32px;}
h2.big-h2-heading{
    
    font-size: 37px;
line-height: 35px;
}

.post-img:hover .icons{
    
    padding: 103px 0 0 180px;
}
